<h3>Are you sure you want to delete <%= @contact.full_name %>?</h3>
<br>

<div class="button">
<%= link_to("Yes, please delete", "/contacts/#{@contact.id}", method: :delete) %>
</div>
<br>
<a href="/"><div class="button">No, get me out of here</div></a>
<br>
